<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Continuous Delivery in Booktrack</title>

		<meta name="description" content="Using azure it is easy to publish SPA">
		<meta name="author" content="Konstantin Raev, Richard Sentino">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="bower_components/reveal.js/css/reveal.min.css">
		<link rel="stylesheet" href="bower_components/reveal.js/css/theme/sky.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="bower_components/reveal.js/lib/css/zenburn.css">
	</head>

	<body>

		<div class="reveal">
			<div class="slides">
				<section data-background="images/website.png">
					<h1 style="color: white; background-color: rgba(19, 43, 55, 0.70)">Continuous deployment of a Single Page Application on Azure</h1>
				</section>
                <section>
                    <h3>Part of dev team @ Booktrack</h3>
                    <ul>
                        <li>
                            <p><img width="100px" height="100px" src="images/bestander.jpeg"> Konstantin Raev</p>
                            <p><a href="https://twitter.com/bestander_nz">@bestander_nz</a></p>
                            <p><a href="https://github.com/bestander">github/bestander</a></p>
                        </li>
                        <li>
                            <p><img width="100px" height="100px" src="images/rixrix.jpeg"> Richard Sentino</p>
                            <p><a href="https://twitter.com/mindginative">@mindginative</a></p>
                            <p><a href="https://github.com/rixrix">github/rixrix</a></p>
                        </li>
                    </ul>
                </section>
                <section data-background="images/platforms.png">
                </section>


				<section>
					<section>
						<h2>Our front end stack</h2>
                        <ul>
                            <li>Angular.js</li>
                            <li>Typescript</li>
                            <li>SASS & Stylus</li>
                            <li>Require.js</li>
                            <li>many more 3rd party libs</li>
                        </ul>
					</section>
                    <section>
                        <h3>Angular.js</h3>
                        <img src="images/angular_example.png">
                    </section>
                    <section>
                        <img src="images/anglar-dir-js.png">
                    </section>
                    <section>
                        <h2>Typescript</h2>
						<h3>A superset of EcmaScript 6 with compile time type checking</h3>
                        <img class="stretch" src="images/typescript-classes.png">
					</section>
                    <section>
                        <img class="stretch" src="images/typescript-module.png">
					</section>
                    <section>
                        <img class="stretch" src="images/typescript-compiled.png">
					</section>
                    <section>
						<h3>Typescript + Angular</h3>
                        <img src="images/typescript_angular_webstorm.png">
					</section>
					<section>
						<h3>Stylus</h3>
                        <img src="images/stylus.png">
					</section>
				</section>

                <section>
                    <h2>Optimized for download</h2>
                    <img src="images/booktrack-min.png">
                </section>

                <section>
					<h2>How to compile that?</h2>
                    <p>funny image</p>
				</section>

				<section>
					<h2>Grunt.js</h2>
                    <img src="images/grunt.png">
				</section>

				<section>
					<h2>Problem?</h2>
                    <pre class="stretch"><code data-trim>
module.exports = function (grunt) {

    var config = {
        typescript: {
            main: {
                src: ['app/**/*.ts'],
                dest: '.tmp', // typescript is always compiled here
                options: {
                    module: 'amd',
                    target: 'es5',
                    sourcemap: "<%= sourcemap %>"
                }
            },
            test: {
                src: ['test/**/*.ts'],
                dest: '.tmp', // typescript is always compiled here
                options: {
                    module: 'amd',
                    target: 'es5',
                    sourcemap: "<%= sourcemap %>"
                }
            }
        },
        requirejs: {
            compile: {
                options: {
                    useStrict: true,
                    removeCombined: true,
                    baseUrl: '.tmp/app',
                    optimize: "uglify2",
                    uglify2: {
                        mangle: true
                    },
                    wrap: {
                        start: "'use strict';",
                        end: ""
                    },
                    modules: [
                        {
                            name: 'libs',
                            include: ['almond', 'angular', 'angularSanitize', 'angulartics', 'createDialog',
                                'studioPlayers', 'iscroll', 'zepto', 'snaprfx', 'buzz', 'slider',
                                'disqus', 'tinyMce', 'angularUuid', 'diffPatch'],
                            create: true,
                            override: { // TODO better uglify modules before concatenating
                                optimize: "none",
                                uglify2: {
                                    mangle: false
                                },
                                wrap: {
                                    // some libs don't work well with use strict pragma, disabling it for 3rd parties
                                    start: "",
                                    end: ""
                                }
                            }
                        },
                        {
                            removeCombined: true,
                            name: 'mandrill',
                            include: ['bootstrap'],
                            exclude: ['libs'],
                            create: true,
                            insertRequire: ['bootstrap']
                        }
                    ],
                    paths: {
                        almond: '../../node_modules/grunt-requirejs/node_modules/almond/almond',
                        angular: '../../components/angular/angular.min',
                        angularSanitize: '../../components/angular/angular-sanitize.min',
                        angulartics: '../../components/angulartics/dist/angulartics.min',
                        createDialog: '../../components/angularjs-modal-service/src/createDialog',
                        studioPlayers: '../../components/studio/build/studio',
                        iscroll: '../../components/iscroll/dist/iscroll-probe-min',
                        zepto: '../../components/zepto/zepto.min',
                        snaprfx: '../../components/snapr/build/snaprfx.min',
                        buzz: '../../components/buzz/buzz',
                        slider: '../../components/angular-slider/angular-slider.min',
                        disqus: '../../components/angular-disqus/angular-disqus.min',
                        templates: 'mandrill-templates',
                        config: 'config',
                        tinyMce: '../../components/bower-cpa-tinymce/tinymce.min',
                        angularUuid: '../../components/angular-uuid/uuid.min',
                        diffPatch: '../../components/google-diff-match-patch-js/diff_match_patch'
                    },
                    shim: {
                        almond: {'exports': ['requirejs', 'require', 'define']},
                        angular: {'exports': 'angular'},
                        angularSanitize: {'deps': ['angular']},
                        angulartics: {deps: ['angular'], 'exports': 'angulartics'},
                        createDialog: {deps: ['angular']},
                        studioPlayers: {'exports': 'Booktrack'},
                        zepto: {'exports': '$'},
                        snaprfx: {deps: ['zepto'], 'exports': 'SnaprFX'},
                        buzz: {'exports': 'buzz'},
                        slider: {deps: ['angular']},
                        disqus: {deps: ['angular']},
                        templates: {deps: ['angular']},
                        config: {deps: ['angular']},
                        tinyMce: {
                            'exports': 'tinyMCE',
                            init: function () {
                                this.tinyMCE.DOM.events.domLoaded = true;
                                return this.tinyMCE;
                            }
                        },
                        angularUuid: {deps: ['angular']},
                        diffPatch: {'exports': 'diff_match_patch'}
                    },
                    dir: "<%= dest %>/app"
                }
            }
        },
        sass: {
            main: {
                options: {
                    // sourcemap: true, // TODO waiting for Sass 3.3.0 to be stable
                    style: "<%= cssBuildStyle %>"
                },
                files: {
                    "<%= dest %>/app/index.css": "app/styles/index.scss",
                    "<%= dest %>/app/icons.css": "app/icons/icons.scss"
                }

            }
        },
        imageEmbed: {
            main: {
                src: [ "<%= dest %>/app/icons.css" ],
                dest: "<%= dest %>/app/icons.css",
                options: {
                    deleteAfterEncoding: true,
                    baseDir: ''
                }
            }
        },
        smushit: {
            dynamic: {
                files: [
                    {
                        expand: true,
                        src: ['app/**/*.{png,jpg,jpeg,gif}'],
                        dest: 'app'
                    }
                ]
            }
        },
        htmlbuild: {
            main: {
                src: '<%= dest %>/index.html',
                dest: '<%= dest %>',
                options: {
                    data: {
                        version: '<%= buildVersion %>',
                        baseUrl: "" // for local deployments all the libs are in the same directory with index.html but
                        on
                                CDN
                        it
                                is
                        different
                    },
                    scripts: {
                        libs: {
                            files: '<%= dest %>/<%= baseUrl %>/app/libs.js'
                        }
                    }
                }
            }
        },
        ngtemplates: {
            main: {
                options: {
                    htmlmin: {
                        collapseBooleanAttributes: true,
                        collapseWhitespace: true,
                        removeAttributeQuotes: true,
                        removeComments: true, // Only if you don't use comment directives!
                        removeEmptyAttributes: true,
                        removeRedundantAttributes: false,
                        removeScriptTypeAttributes: true,
                        removeStyleLinkTypeAttributes: true
                    },
                    module: 'Booktrack.Mandrill.Templates',
                    standalone: true
                },
                cwd: 'app',
                src: ['**/*.html', '!auth/popups/*.html', '!social/standalone-disqus-board/*.html',
                    '!help/external-iframe/*.html'],
                dest: '.tmp/app/mandrill-templates.js'
            }
        }

    };
};
                    </code></pre>
				</section>

                <section>
                    <h2>Gulp.js</h2>
                    <pre class="stretch"><code>
var rename = require("gulp-rename");
var replace = require('gulp-replace');
var karma = require('node-karma-wrapper');
var aKarmaTestServer = karma({ configFile: './test/karma.conf.js'});
var stylusPlugin = require('gulp-stylus');

gulp.task('copy-config', function () {
    return gulp.src('src/config.js')
        .pipe(rename("config.js"))
        .pipe(replace(/@@appPath/g, '/app'))
        .pipe(replace(/@@cdnUri/g, 'http://cdn.booktrack.com'))
        .pipe(replace(/@@version/g, 'dev'))
        .pipe(gulp.dest('/build'));
});

gulp.task('compile-stylus-dev', function(){
    return gulp.src(['src/**/*.styl'])
        .pipe(watching ? plumber() : gutil.noop())
        .pipe(stylusPlugin({
            use: nib(),
            "include css": true
        }))
        .pipe(gulp.dest('/build'));
});

gulp.task('run-karma', ['copy-config'], function (cb) {
    aKarmaTestServer.simpleRun(function () {
        cb();
    });
});
                    </code></pre>
                </section>

                <section>
                    <h2>Deployment steps</h2>
                    <ol>
                        <li>Compile and minify stuff with Gulp</li>
                        <li>Put it in a public storage container</li>
                        <li>Set up CDN to speed up content delivery</li>
                        <li>???</li>
                        <li>PROFIT</li>
                    </ol>
                </section>

                <section>
                    <section>
                        <h2>Put it in storage and distribute via CDN</h2>
                        <ul>
                            <li>Amazon CloudFront</li>
                            <li>Windows Azure</li>
                            <li>MaxCDN</li>
                            <li>Akamai</li>
                        </ul>
                    </section>

                    <section>
                        <h2>We use azure</h2>
                        <ul>
                            <li>Already using it for back end</li>
                            <li>Good pricing</li>
                            <li>Good performance</li>
                            <li>Nice Node.js API https://github.com/Azure/azure-sdk-for-node</li>
                        </ul>
                    </section>

                    <section>
                        <h2>Only had to build a Gulp/Grunt plugin for azure blob storage upload</h2>
                        <p>https://github.com/bestander/grunt-azure-cdn-deploy</p>
                        <p>https://github.com/bestander/deploy-azure-cdn</p>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Importance of CDN</h2>
                    </section>
                    <section>
                        <h2>Importance of Minification of scripts and images</h2>
                    </section>
                    <section>
                        <h2>Importance of GZIP</h2>
                    </section>
                </section>

                <section>
                    <section>
                        <h1>Continuous Delivery Pipeline</h1>
                        <h3>Team - Version Control - Build - Test - CI/Deployment - UAT/QA - Production</h3 >
                    </section>
                </section>
                <section>
                    <section>
                        <h1>Team</h1>
                    </section>
                    <section>
                        <h3>Planning</h3>
                        <p>User Experience</p>
                        <p>User Interface</p>
                        <p>Dev team (front-end / back-end / mobile)</p>
                        <p>
                            <img src="images/meeting.jpg" height="250px">
                        </p>
                    </section>
                    <section>
                        <h3>Development Workflow</h3>
                        <img src="images/gitflow.png" style="background-color: #ffffff">
                    </section>
                    <section>
                        <h2>Cont. Integration on my local</h2>
                        <p><img src="images/obama-face.png"></p>
                        <p>really ?</p>
                    </section>
                    <section>
                        <h2>Cont. Integration on my local</h2>
                        <p>Compile TypeScript</p>
                        <p>Compile Stylus</p>
                        <p>Run Jasmine/Karma tests</p>
                    </section>
                </section>

                <section>
                    <h2>Continuous Integration w/ Codeship.IO</h2>
                    <ul>
                        <li>Watches bitbucket repo</li>
                        <li>Deploy to Dev or Production</li>
                        <li>Free and paid options</li>
                    </ul>
                    <p>add more details here</p>
                </section>
                <section>
                    <h2>Deployment</h2>
                    <ul>
                        <li>work on local branch</li>
                        <li>push to master for QA/Others to test</li>
                        <li>Master branch > for demo</li>
                        <li>Production branch > for prod release</li>
                    </ul>
                </section>
                <section>
                    <h2>Azure</h2>
                    <ul>
                        <li>Upload to CDN</li>
                        <li>No IIS/Apache/Nginx</li>
                        <li>all assets</li>
                    </ul>
                    <p>add more details here</p>
                </section>
                <section>
                    <h2>Azure - Scalability</h2>
                    <ul>
                        <li>serve files from the closest location</li>
                        <li>server locations: asia, uk, us, etc ???</li>
                    </ul>
                </section>

                <!-- ending/summary -->
                <section>
                    <h2>Importance of Automation</h2>
                    <p>save time</p>
                    <p>focus on important tasks</p>
                    <p>faster development</p>
                </section>

                <section>
                    <h2>Continuous Improvement</h2>
                    <p>pair programming</p>
                    <p>refactor early, refactor often, small stuff</p>
                </section>

                <section>
                    <h2>Summary</h2>
                </section>

                <section>
                    <h2>Thank you!</h2>
                </section>

				<section id="transitions">
					<h2>Transition Styles</h2>
					<p>
						You can select from different transitions, like: <br>
						<a href="?transition=cube#/transitions">Cube</a> -
						<a href="?transition=page#/transitions">Page</a> -
						<a href="?transition=concave#/transitions">Concave</a> -
						<a href="?transition=zoom#/transitions">Zoom</a> -
						<a href="?transition=linear#/transitions">Linear</a> -
						<a href="?transition=fade#/transitions">Fade</a> -
						<a href="?transition=none#/transitions">None</a> -
						<a href="?#/transitions">Default</a>
					</p>
				</section>

				<section>
					<h2>Global State</h2>
					<p>
						Set <code>data-state="something"</code> on a slide and <code>"something"</code>
						will be added as a class to the document element when the slide is open. This lets you
						apply broader style changes, like switching the background.
					</p>
				</section>

				<section data-state="customevent">
					<h2>Custom Events</h2>
					<p>
						Additionally custom events can be triggered on a per slide basis by binding to the <code>data-state</code> name.
					</p>
					<pre><code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
Reveal.addEventListener( 'customevent', function() {
	console.log( '"customevent" has fired' );
} );
					</code></pre>
				</section>

				<section>
					<section data-background="#007777">
						<h2>Slide Backgrounds</h2>
						<p>
							Set <code>data-background="#007777"</code> on a slide to change the full page background to the given color. All CSS color formats are supported.
						</p>
						<a href="#" class="image navigate-down">
							<img width="178" height="238" src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Down arrow">
						</a>
					</section>
					<section data-background="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png">
						<h2>Image Backgrounds</h2>
						<pre><code>&lt;section data-background="image.png"&gt;</code></pre>
					</section>
					<section data-background="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" data-background-repeat="repeat" data-background-size="100px">
						<h2>Repeated Image Backgrounds</h2>
						<pre><code style="word-wrap: break-word;">&lt;section data-background="image.png" data-background-repeat="repeat" data-background-size="100px"&gt;</code></pre>
					</section>
				</section>

				<section data-transition="linear" data-background="#4d7e65" data-background-transition="slide">
					<h2>Background Transitions</h2>
					<p>
						Pass reveal.js the <code>backgroundTransition: 'slide'</code> config argument to make backgrounds slide rather than fade.
					</p>
				</section>

				<section data-transition="linear" data-background="#8c4738" data-background-transition="slide">
					<h2>Background Transition Override</h2>
					<p>
						You can override background transitions per slide by using <code>data-background-transition="slide"</code>.
					</p>
				</section>

				<section>
					<h2>Clever Quotes</h2>
					<p>
						These guys come in two forms, inline: <q cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations">
						&ldquo;The nice thing about standards is that there are so many to choose from&rdquo;</q> and block:
					</p>
					<blockquote cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations">
						&ldquo;For years there has been a theory that millions of monkeys typing at random on millions of typewriters would
						reproduce the entire works of Shakespeare. The Internet has proven this theory to be untrue.&rdquo;
					</blockquote>
				</section>

				<section>
					<h2>Intergalactic Interconnections</h2>
					<p>
						You can link between slides internally,
						<a href="#/2/3">like this</a>.
					</p>
				</section>

				<section>
					<section id="fragments">
						<h2>Fragmented Views</h2>
						<p>Hit the next arrow...</p>
						<p class="fragment">... to step through ...</p>
						<ol>
							<li class="fragment"><code>any type</code></li>
							<li class="fragment"><em>of view</em></li>
							<li class="fragment"><strong>fragments</strong></li>
						</ol>

						<aside class="notes">
							This slide has fragments which are also stepped through in the notes window.
						</aside>
					</section>
					<section>
						<h2>Fragment Styles</h2>
						<p>There's a few styles of fragments, like:</p>
						<p class="fragment grow">grow</p>
						<p class="fragment shrink">shrink</p>
						<p class="fragment roll-in">roll-in</p>
						<p class="fragment fade-out">fade-out</p>
						<p class="fragment highlight-red">highlight-red</p>
						<p class="fragment highlight-green">highlight-green</p>
						<p class="fragment highlight-blue">highlight-blue</p>
						<p class="fragment current-visible">current-visible</p>
						<p class="fragment highlight-current-blue">highlight-current-blue</p>
					</section>
				</section>

				<section>
					<h2>Spectacular image!</h2>
					<a class="image" href="http://lab.hakim.se/meny/" target="_blank">
						<img width="320" height="299" src="http://s3.amazonaws.com/hakim-static/portfolio/images/meny.png" alt="Meny">
					</a>
				</section>

				<section>
					<h2>Take a Moment</h2>
					<p>
						Press b or period on your keyboard to enter the 'paused' mode. This mode is helpful when you want to take distracting slides off the screen
						during a presentation.
					</p>
				</section>


			</div>

		</div>

		<script src="bower_components/reveal.js/lib/js/head.min.js"></script>
		<script src="bower_components/reveal.js/js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
//					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'bower_components/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
//					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
//					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
